  body {
            background-color: #f8f9fa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .sidebar {
            background-color: #000;
            color: white;
            min-height: 100vh;
            position: sticky;
            top: 0;
            padding-top: 50px;
        }

        .foto-perfil-container {
            position: relative;
            display: inline-block;
            margin-bottom: 20px;
        }

        .foto-perfil {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid #8cc63f; 
            padding: 5px;
            background-color: black;
        }

        .text-accent {
            color: #8cc63f; 
        }

        .section-title {
            border-bottom: 2px solid #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 25px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn-custom {
            background-color: #8cc63f;
            color: black;
            font-weight: bold;
            border: none;
            margin: 5px;
            transition: 0.3s;
        }

        .btn-custom:hover {
            background-color: #fff;
            color: #000;
        }

    
        @media (max-width: 768px) {
            .sidebar {
                min-height: auto;
                position: relative;
            }
        }