
body {
  margin: 0;
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 255, 0.2); 
}

.hero {
  background-color: #c8a27a;
  padding: 80px 0;
}


.foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
 
}



.hero h1 {
  font-weight: bold;
}

.cargo {
  color: #6c757d;
  font-size: 20px;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  transform: translateY(-3px);
}

.experiencia {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 0;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
}

.conteudo {
  position: relative;
  z-index: 2;
}


.contato {
  background-color: #c8a27a;
  padding: 60px 0;
}

.btn-custom {
  background-color: #d4824c;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #b96a3a;
  transform: translateY(-2px);
}
